@(recipient: String, messages: List[play.api.libs.json.JsValue])
@site = @{ play.Play.application().configuration().getString("maildrop.sitename") }
@alt = @{ com.heluna.maildrop.util.AltInbox.getAltInbox(recipient) }
@domain = @{play.Play.application().configuration().getString("maildrop.hostname")}
@tblclass = @{ if(messages.length > 0) { "len" } else { "empty" }}
@sdf = @{ new java.text.SimpleDateFormat(play.api.Play.current.configuration.getString("maildrop.dateformat").getOrElse("MMM d yyyy hh:mm a"))}

@template("inbox", "Inbox for " + recipient) {

	<section id=inbox data-inbox="@recipient">
		<div class=container>
			<div class=grid>
				<div class="unit span-grid">
					<div id=inboxctl>
						<h1 id=mainaddr>@{ recipient + "@" + domain }</h1>
						<div class=clipboard-controls>
							<a id=clipboard class=clipboard data-clipboard-target=mainaddr href="#"><i class=icon-publish></i></a>
						</div>
					</div>
					<script src='@routes.Assets.versioned("javascripts/ZeroClipboard.min.js")'></script>
					<div id=msgs>
						<h3 id=msgnum>@messages.length @if(messages.length == 1) {message} else {messages}. </h3>
						<a id="inbox-reload" href="@routes.Application.inbox(recipient)">Reload <i id="reload-icon" class="icon-arrows-ccw"></i></a>
					</div>
				</div>
				<div class="unit span-grid">
					<table id=inboxtbl class="list @tblclass">
						<thead>
							<tr>
								<th class=senderhdr>From</th>
								<th class=subjecthdr>Subject</th>
								<th class=datehdr>Date</th>
							</tr>
						</thead>
						<tbody>
						@for((message, index) <- messages.zipWithIndex) {
							<tr data-id='@{ (message \ "id").asOpt[String].getOrElse("") }'>
								<td class=sender>@{ (message \ "sender").asOpt[String].getOrElse("(no sender)") }</td>
								<td class=subject><a href="@routes.Application.message(recipient, (message \ "id").as[String])">@{ (message \ "subject").asOpt[String].getOrElse("(no subject)") }</a></td>
								<td class=date>@{ sdf.format(new java.util.Date((message \ "date").asOpt[Long].getOrElse(0L))) }</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	@views.html.messagefooter(alt, domain, site)

}