@(recipient: String, id: String, message: play.api.libs.json.JsValue, mimemessage: javax.mail.internet.MimeMessage)
@site = @{ play.Play.application().configuration().getString("maildrop.sitename") }
@alt = @{ com.heluna.maildrop.util.AltInbox.getAltInbox(recipient) }
@domain = @{play.Play.application().configuration().getString("maildrop.hostname")}
@sdf = @{ new java.text.SimpleDateFormat(play.api.Play.current.configuration.getString("maildrop.dateformat").getOrElse("MMM d yyyy hh:mm a"))}

@subject = @{ (message \ "subject").asOpt[String].getOrElse("(no subject)") }

@template("message", subject) {

	<section id=message>
		<div class=container>
			<div class=grid>
				<div id=hdr class="unit span-grid">
					<h1>@subject</h1>
					<h3><a href="@routes.Application.inbox(recipient)">Inbox: @recipient</a></h3>
				</div>
				<div id=msg class="unit span-grid">
					<table id=messageheader>
						<tbody>
							<tr>
								<td>From:</td>
								<td>@{ (message \ "sender").asOpt[String].getOrElse("(no sender)") }</td>
								<td rowspan="3" id=buttons>
									<a href="@routes.Application.messageRaw(recipient, id)">View Raw Source <i class=icon-doc-text></i></a>
									<form method=post action="@routes.Application.delete(recipient, id)">
										<button type=submit>Delete <i class=icon-trash></i></button>
									</form>
								</td>
							</tr>
							<tr>
								<td>To:</td>
								<td>@{ (message \ "recipient").asOpt[String].getOrElse("(no recipient)") }</td>
							</tr>
							<tr>
								<td>Date:</td>
								<td>@{ sdf.format(new java.util.Date((message \ "date").asOpt[Long].getOrElse(0L))) }</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id=messagebody class="unit span-grid">
					<script>
					window.__maildrop_iframe = function() {
					var el = document.getElementById("messageframe");
					if(el != null) {
					el.height = 0;
					if(el.contentDocument) el.height = el.contentDocument.documentElement.scrollHeight + 30;
					else el.height = el.contentWindow.document.body.scrollHeight + 30;
					}
					}
					</script>
					@if(mimemessage.isMimeType("multipart/*")) {
						<iframe id=messageframe src="@routes.Application.messageBody(recipient, id)" onload="__maildrop_iframe()"></iframe>
					} else {
						@if(mimemessage.isMimeType("text/html")) {
							<iframe id=messageframe src="@routes.Application.messageBody(recipient, id)" onload="__maildrop_iframe()"></iframe>
						} else {
							<pre>@mimemessage.getContent.asInstanceOf[String]</pre>
						}
					}
				</div>
			</div>
		</div>
	</section>

	@views.html.messagefooter(alt, domain, site)

}