@site = @{ play.Play.application().configuration().getString("maildrop.sitename") }
@domain = @{play.Play.application().configuration().getString("maildrop.hostname")}

@template("privacy", "Privacy Policy") {

	<section id=privacy>
		<div class=container>
			<div class=grid>
				<div class="unit one-of-five"></div>
				<div class="unit three-of-five">
					<h1>@site Privacy Policy</h1>

					<p>
						<b>Please note:</b> you should have no expectation of privacy when sending messages to your @site inbox.
					</p>

					<p>
						Any message sent to @site can be read by any user.
					</p>

					<p>
						Every inbox on @site is available to the public.
					</p>

					<p>
						There are - by design - no security measures to sign into @site and view e-mail messages.
					</p>

					<hr>

					<h3>Do Not Send Sensitive Information to @site. </h3>

					<p>
						Please do not send any information to @site that you would consider personal or private. This includes
						your home address, your phone number, or any other personal information. Even if you are constantly
						monitoring the @site inbox you gave to the third party website/app, it is extremely likely that someone
						else could be watching that inbox as well.
					</p>

					<p>
						While it may be unlikely that someone can guess a random inbox, especially if you're using an inbox
						alias, there is no guarantee that other people don't have access to your e-mail messages. Please treat
						@site as if someone else were watching over your shoulder at all times.
					</p>

					<hr>

					<h3>@site Inbox Aliases are Not Secure.</h3>

					<p>
						While inbox aliases are meant to be a layer of obfuscation to the real e-mail address in @domain, you
						should be aware that the algorithm which converts from real addresses to inbox aliases, and vice versa, is
						public, and can be easily reverse engineered by a determined individual.
					</p>

					<p>
						Inbox aliases are fine for sending random website/app e-mails to, but again, please do not send any
						private, personal, confidential messages to an inbox alias; it is extremely likely that someone can
						and will figure out the true inbox that the message is delivered to.
					</p>

					<hr>

					<h3>Connections to @site are Logged.</h3>

					<p>
						In order to help refine the service, all e-mail and web connections to @site are logged. @site is not
						designed to be completely anonymous and is not designed to be an alternative to a re-mailer. There are
						plenty of anonymous re-mailers available on the Internet; @site is not one of them.
					</p>

					<p>
						The debugging and connection information that we log is helpful to us, but we cannot provide end users
						with any information about "what happened to my e-mail".
					</p>

					<hr>

					<h3>We Do Not Track our Visitors.</h3>

					<p>
						Finally, the only cookie we use is to keep track of the most recent inbox that you've visited. We do
						not track our users, nor do we use cookies to keep personal information. We do not collect any information
						about our end users beyond their e-mail and web connections to @domain and only use our analytics pixel
						to collect aggregate data.
					</p>

				</div>
			</div>
		</div>
	</section>

}